# Databases

##  1. Introduction

**Databases** are meant to provide an easier way to *Store* and *Retrieve* data in a structured manner. Without databases the developer would need to constantly worry about how and where to store his next data fragment. This enables developers to focus more on the development process rather than focussing on data.

Following are the *types* of databases: 
1. Centralised database.
2. Distributed database.
3. Personal database.
4. End-user database.
5. Commercial database.
6. NoSQL database.
7. Operational database.
8. Relational database.
9. Cloud database.
10. Object-oriented database.
11. Graph database.

### **Common Misconceptions** related to databases:


1. These database types are **not** to be confused with Open Source **Database management systems** like MySQL, PostgreSQL, Ingres, Apache Cassandra, etc. Database types merely indicate how and where your data has to be stored. These database types mentioned above are provided to you by the database management systems for use and easy integration with languages like Python, Javascript, etc.


2. These database types differ in terms of the structure and the flow of your data.For eg- *Relational databases* use tables to store your data whereas *Graph databases* uses graph structures like nodes and edges to represent and store data.


3. **SQL** or **S**tructured **Q**uery **L**anguage is a language which is used to create, maintain and retrieve the data from *Relational databases* like PostgreSQL and MySQL. Some people confuse SQL to be a database which is not true. However sometimes the term SQL database is used interchangibly for Relational database as SQL language is used to handle Relational databases.

### SQL vs NoSQL Database (What does this actually mean?)
SQL database here is referring to *Relational database* and not SQL being a database (which is  wrong). NoSQL or Non SQL is the term which refers to *non-Relational databases*.

So in simple terms it means Relational database structure vs Non-Relational database structure. 

#### Difference between SQL and NoSQL database
|SQL | NoSQL|
|---|---|
|These database types used Relational database management systems.| These databases use Non-relational or distributed database system|
| Not well suited for hierarchical data storage. | Better suited for hierarchical data storage. |
| Vertically scalable | Horizontally scalable |

## 2. Connection
Here we will see how to select a database and how to connect it with Python.

##### Steps for selecting a database

STEP 1: Select the **Database type** from the 11 types mentioned above. The type of database that you should select depends on the data that you are going to supply the database. For eg: If you have highly hierarchical data then SQL databases are not the choice to go for.

STEP 2: Search for **Database Management Systems** for your preferred Database type and language you are comfortable. Selecting a good DBMS will help in easy communication with your database.

#### What are the most popular DBMS options in Python?
1. SQLite
2. MySQL
3. PostgreSQL
4. MongoDB
Feel free to search for other DBMS libraries according to your requirement.

The most used Database Management Systems (also sometimes just referred to as databases) with Python are **PostgreSQL** and **MySQL**. Both of these are open source *Relational Database Management System*.

#### How to use these DBMS with Python?
Python has a variety of libraries for easy integration with databases. These libraries can act as your Database Management libraries and help in Create, Read, Update and Delete (CRUD) operations. We will see how to connect these with Python now:

# SQLite
SQLite is the easiest library to use with Python. It comes by default with Python and you *do not* need to install any extra SQL library for using this.

### A) Creating a connection
If a database exists already at the path, it connects to it.
If a database does not exist at the location, it creates a new one and connects to it.

In [1]:
import sqlite3
from sqlite3 import Error

try:
    connection = sqlite3.connect('test.db')
    print("Connection to SQLite DB successful")
except Error as e:
    print(f"The error '{e}' occurred")

Connection to SQLite DB successful

### B) Creating a Table
A table is an empty structure where you can insert data using the insert operation. Data cannot be inserted into a table which has not been created yet

In [2]:
try:
    connection.execute('''CREATE TABLE CINEMA
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         SEATNO            INT     NOT NULL,
         PHONE        INT      NOT NULL);''')
    print('Table created successfully')
except Error as e:
    print(f"The error '{e}' occurred")

The error 'table CINEMA already exists' occurred

### C) Inserting Data
Now we insert data inside the table we created

**IMPORTANT**: Make sure if you are writing the string inside double quotes(" ") then write the string VALUES in single quotes (' ') and vice versa

In [3]:
connection.execute("INSERT INTO CINEMA (ID,NAME,SEATNO,PHONE) \
                    VALUES(1, 'MIKE', 23, 99999)");
connection.execute("INSERT INTO CINEMA (ID,NAME,SEATNO,PHONE) \
                    VALUES(2, 'CHANDLER', 24, 999999)");
connection.commit()
print("Insert successful")

Insert successful

### D) Fetching Data
Here we access the data we just inserted in the table CINEMA

In [5]:
entries = connection.execute("SELECT id, name, seatno, phone from CINEMA")
print("Displaying table entries...")
for entry in entries:
    print("ID = ", entry[0])
    print("NAME = ", entry[1])
    print("SEATNO = ", entry[2])
    print("PHONE = ", entry[3], "\n")
print("Display operation complete!")

Displaying table entries...
ID =  1
NAME =  MIKE
SEATNO =  23
PHONE =  99999

ID =  2
NAME =  CHANDLER
SEATNO =  24
PHONE =  999999

Display operation complete!

### E) Updating Data
Here we modify the seat number of ID = 1

In [6]:
connection.execute("UPDATE CINEMA set SEATNO = 33 where ID = 1")
connection.commit()

entries = connection.execute("SELECT id, name, seatno, phone from CINEMA")
print("Displaying updated table entries...")
for entry in entries:
    print("ID = ", entry[0])
    print("NAME = ", entry[1])
    print("SEATNO = ", entry[2])
    print("PHONE = ", entry[3], "\n")
print("Display operation complete!")

Displaying updated table entries...
ID =  1
NAME =  MIKE
SEATNO =  33
PHONE =  99999

ID =  2
NAME =  CHANDLER
SEATNO =  24
PHONE =  999999

Display operation complete!

### F) Deleting Data
Here we delete the user information with ID = 2

In [8]:
connection.execute("DELETE from CINEMA where ID = 2")
connection.commit()

entries = connection.execute("SELECT id, name, seatno, phone from CINEMA")
print("Displaying updated table entries...")
for entry in entries:
    print("ID = ", entry[0])
    print("NAME = ", entry[1])
    print("SEATNO = ", entry[2])
    print("PHONE = ", entry[3], "\n")
print("Display operation complete!")

Displaying updated table entries...
ID =  1
NAME =  MIKE
SEATNO =  33
PHONE =  99999

Display operation complete!

# MySQL
MySQL does not have a default module in Python like SQLite. So you need to install the module for MySQL before performing operations.

In [4]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.11.4)
Requirement already satisfied: six>=1.9 in c:\users\yash sonar\appdata\roaming\python\python37\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

If you have not yet created a database then execute this code segment to create one before proceeding

### A) Creating a Connection
This statement will connect to the mysql server you have set up on your laptop. You need to use this connection to **create a database** of name "mydatabase" (or any name of your choice)

In [49]:
try:
    connection = mysql.connector.connect(user='Yash',
                               host='localhost',
                               password='Yash@2000')
    mycursor = connection.cursor()
    mycursor.execute("CREATE DATABASE mydatabase")
except:
    print("Database exists!")

Database exists!

This code segment is used to **connect to the database** we created "mydatabase".
We use a try and catch block to catch the errors (if any) encountered during the connection step.

In [50]:
import mysql.connector
from mysql.connector import errorcode, Error

try:
    connection = mysql.connector.connect(user='Yash',
                               host='localhost',
                               password='Yash@2000',
                               database="mydatabase")
    print("Connected to database!")
except Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

Connected to database!

### B) Creating a Table
A table is an empty structure where you can insert data using the insert operation. Data cannot be inserted into a table which has not been created yet

In [51]:
try:
    cursor = connection.cursor()
    result = cursor.execute("""CREATE TABLE Cinema ( 
                                 Id int(11) NOT NULL,
                                 Name varchar(250) NOT NULL,
                                 Seatno int NOT NULL,
                                 Phone int NOT NULL,
                                 PRIMARY KEY (Id)) """)
    print("Cinema Table created successfully")
except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))

Failed to create table in MySQL: 1050 (42S01): Table 'cinema' already exists

### C) Inserting Data
Now we insert data inside the table we created

**IMPORTANT**: Make sure if you are writing the string inside double quotes(" ") then write the string VALUES in single quotes (' ') and vice versa

In [52]:
try:
    cursor = connection.cursor()
    cursor.execute("""INSERT INTO Cinema (Id, Name, Seatno, Phone) 
                           VALUES 
                           (10, 'Mike', 23, 9999) """)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into Cinema table")
    cursor.close()
except mysql.connector.Error as error:
    print("Failed to insert record into Laptop table {}".format(error))

1 Record inserted successfully into Cinema table

Here we insert **multiple rows** in a single query

In [53]:
mySql_insert_query = """INSERT INTO Cinema (Id, Name, Seatno, Phone) 
                           VALUES (%s, %s, %s, %s) """

records_to_insert = [(4, 'Chandler', 19, 873),
                     (5, 'Joey', 57, 7323),
                     (6, 'Rachel', 23, 3742)]
try:
    cursor = connection.cursor()
    cursor.executemany(mySql_insert_query, records_to_insert)
    connection.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")
except mysql.connector.Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

3 Record inserted successfully into Laptop table

### D) Fetching Data
Here we access the data we just inserted in the table Cinema

**Fetching the whole table**

In [54]:
try:
    cursor = connection.cursor()
    cursor.execute("select * from Cinema")
    records = cursor.fetchall()
    print("Total number of rows in Cinema is: ", cursor.rowcount)
    
    print("\nPrinting each Cinema record")
    for row in records:
        print("Id = ", row[0], )
        print("Name = ", row[1])
        print("Price  = ", row[2])
        print("Purchase date  = ", row[3], "\n")
    cursor.close()
except Error as e:
    print("Error reading data from MySQL table", e)

Total number of rows in Cinema is:  4

Printing each Cinema record
Id =  4
Name =  Chandler
Price  =  19
Purchase date  =  873

Id =  5
Name =  Joey
Price  =  57
Purchase date  =  7323

Id =  6
Name =  Rachel
Price  =  23
Purchase date  =  3742

Id =  10
Name =  Mike
Price  =  23
Purchase date  =  9999

**Fetching 1 row with a specific ID**

In [55]:
try:
    cursor = connection.cursor(buffered=True)
    sql_select_query = """select * from Cinema where id = 10"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)
except mysql.connector.Error as error:
    print("Error reading data from MySQL table", error)

(10, 'Mike', 23, 9999)

### E) Updating Data
Here we modify the seat number of ID = 10

In [56]:
try:
    cursor = connection.cursor()
    sql_select_query = """select * from Cinema where id = 10"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)
    
    # Update single record now
    sql_update_query = """Update Cinema set Seatno = 71 where id = 10"""
    cursor.execute(sql_update_query)
    connection.commit()
    print("Record Updated successfully ")
    
    print("After updating record ")
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)
except mysql.connector.Error as error:
    print("Failed to update table record: {}".format(error))

(10, 'Mike', 23, 9999)
Record Updated successfully
After updating record
(10, 'Mike', 71, 9999)

Here we update **multiple rows** in a single query

In [57]:
try:
    cursor = connection.cursor()
    sql_update_query = """Update Cinema set Seatno = %s where id = %s"""
    
    # multiple records to be updated in tuple format
    records_to_update = [(100, 10), (110, 11)]
    cursor.executemany(sql_update_query, records_to_update)
    connection.commit()

    print(cursor.rowcount, "Records of a Cinema table updated successfully")
except mysql.connector.Error as error:
    print("Failed to update records to database: {}".format(error))

1 Records of a Cinema table updated successfully

### F) Deleting Data
Here we delete the user information with ID = 11

In [58]:
try:
    cursor = connection.cursor()
    print("Displaying Cinema record Before Deleting it")
    sql_select_query = """select * from Cinema where id = 10"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)
    
    sql_Delete_query = """Delete from Cinema where id = 10"""
    cursor.execute(sql_Delete_query)
    connection.commit()

    cursor.execute(sql_select_query)
    records = cursor.fetchall()
    if len(records) == 0:
        print("\nRecord Deleted successfully ")
except mysql.connector.Error as error:
    print("Failed to delete record from table: {}".format(error))

Displaying Cinema record Before Deleting it
(10, 'Mike', 100, 9999)

Record Deleted successfully

Here we empty the whole table

In [59]:
try:
    cursor = connection.cursor()
    Delete_all_rows = """truncate table Cinema """
    cursor.execute(Delete_all_rows)
    connection.commit()
    print("All Record Deleted successfully ")
except mysql.connector.Error as error:
    print("Failed to Delete all records from database table: {}".format(error))

All Record Deleted successfully

# PostgreSQL
PostgreSQL does not have a default module in Python like SQLite. So you need to install the module for PostgreSQL before performing operations.

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in d:\anaconda\lib\site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

Here we establish a connection and create a database named

### A) Connecting to Database
This statement will connect to the PostgreSQL server you have set up on your laptop. You need to use this connection to ***create a database*** of name "mydatabase" (or any name of your choice)

The default user name is in PostgreSQL is named "postgres" so we access through this user

In [60]:
import psycopg2
conn = psycopg2.connect(
   user='postgres', password='Yash@2000', host='127.0.0.1', port= '5432'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

try:
    #Preparing query to create a database
    sql = '''CREATE database mydatabase''';

    #Creating a database
    cursor.execute(sql)
    print("Database created successfully!")
except:
    print("Database already exists!")

#Closing the connection
conn.close()

Database already exists!

This code segment is used to **connect to the database** we created "mydatabase". We use a try and catch block to catch the errors (if any) encountered during the connection step.

In [61]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Yash@2000",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "mydatabase")

    cursor = connection.cursor()
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': 'postgres', 'dbname': 'mydatabase', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 12.3, compiled by Visual C++ build 1914, 64-bit',)

### B) Creating a Table
A table is an empty structure where you can insert data using the insert operation. Data cannot be inserted into a table which has not been created yet

In [62]:
import psycopg2
from psycopg2 import Error

try:
    cursor = connection.cursor()
    
    create_table_query = '''CREATE TABLE Cinema
          (ID INT PRIMARY KEY     NOT NULL,
          NAME           TEXT    NOT NULL,
          SEATNO         INT    NOT NULL,
          PHONE        INT     NOT NULL); '''
    
    cursor.execute(create_table_query)
    connection.commit()
    print("Table created successfully in PostgreSQL ")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)

Error while creating PostgreSQL table relation "cinema" already exists

### C) Inserting Data
Now we insert data inside the table we created

**IMPORTANT**: Make sure if you are writing the string inside double quotes(" ") then write the string VALUES in single quotes (' ') and vice versa

In [63]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Yash@2000",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "mydatabase")
    cursor = connection.cursor()

    postgres_insert_query = """ INSERT INTO Cinema (Id, Name, Seatno, Phone) VALUES (10, 'Mike', 23, 9999)"""
    cursor.execute(postgres_insert_query, record_to_insert)

    connection.commit()
    count = cursor.rowcount
    print (count, "Record inserted successfully into Cinema table")

except (Exception, psycopg2.Error) as error :
    if(connection):
        print("Failed to insert record into Cinema table", error)

1 Record inserted successfully into Cinema table

Here we insert **multiple rows** in a single query

In [64]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Yash@2000",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "mydatabase")
    cursor = connection.cursor()

    postgres_insert_query = """ INSERT INTO Cinema (Id, Name, Seatno, Phone) VALUES (%s,%s,%s,%s)"""
    record_to_insert = [(4, 'Chandler', 19, 873),
                     (5, 'Joey', 57, 7323),
                     (6, 'Rachel', 23, 3742)]
    cursor.executemany(postgres_insert_query, record_to_insert)

    connection.commit()
    count = cursor.rowcount
    print (count, "Record inserted successfully into Cinema table")

except (Exception, psycopg2.Error) as error :
    if(connection):
        print("Failed to insert record into Cinema table", error)

3 Record inserted successfully into Cinema table

### D) Fetching Data
Here we access the data we just inserted in the table Cinema

**Fetching the whole table**

In [65]:
try:
    cursor = connection.cursor()
    postgreSQL_select_Query = "select * from Cinema"

    cursor.execute(postgreSQL_select_Query)
    print("Selecting rows from Cinema table using cursor.fetchall")
    cinema_records = cursor.fetchall() 
   
    print("Print each row and it's columns values")
    for row in cinema_records:
        print("Id = ", row[0], )
        print("Model = ", row[1])
        print("Seat No = ", row[2])
        print("Phone  = ", row[3], "\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while fetching data from PostgreSQL", error)

Selecting rows from Cinema table using cursor.fetchall
Print each row and it's columns values
Id =  10
Model =  Mike
Seat No =  23
Phone  =  9999

Id =  4
Model =  Chandler
Seat No =  19
Phone  =  873

Id =  5
Model =  Joey
Seat No =  57
Phone  =  7323

Id =  6
Model =  Rachel
Seat No =  23
Phone  =  3742

**Fetching 1 row with a specific ID**

In [66]:
try:
    cursor = connection.cursor()
    postgreSQL_select_query = """select * from Cinema where id = 10"""
    cursor.execute(postgreSQL_select_query)
    record = cursor.fetchone()
    print(record)
except (Exception, psycopg2.Error) as error :
    print("Error reading data from PostgreSQL table", error)

(10, 'Mike', 23, 9999)

### E) Updating Data
Here we modify the seat number of ID = 10

In [67]:
try:
    cursor = connection.cursor()

    print("Table Before updating record ")
    sql_select_query = """select * from Cinema where id = 10"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)

    # Update single record now
    sql_update_query = """Update Cinema set Seatno = 71 where id = 10"""
    cursor.execute(sql_update_query)
    connection.commit()
    count = cursor.rowcount
    print(count, "Record Updated successfully ")

    print("Table After updating record ")
    sql_select_query = """select * from Cinema where id = 10"""
    cursor.execute(sql_select_query)
    record = cursor.fetchone()
    print(record)

except (Exception, psycopg2.Error) as error:
    print("Error in update operation", error)

Table Before updating record
(10, 'Mike', 23, 9999)
1 Record Updated successfully
Table After updating record
(10, 'Mike', 71, 9999)

In [68]:
try:
    cursor = connection.cursor()

    # Update single record now
    sql_update_query = """Update Cinema set Seatno = %s where id = %s"""
    
    # multiple records to be updated in tuple format
    records_to_update = [(100, 10), (110, 5)]
    cursor.executemany(sql_update_query, records_to_update)
    connection.commit()
    count = cursor.rowcount
    print(count, "Record Updated successfully ")

except (Exception, psycopg2.Error) as error:
    print("Error in update operation", error)

2 Record Updated successfully

### F) Deleting Data
Here we delete the user information with ID = 5

In [69]:
try:
    connection = psycopg2.connect(user = "postgres",
                                  password = "Yash@2000",
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "mydatabase")

    cursor = connection.cursor()

    # Update single record now
    sql_delete_query = """Delete from Cinema where id = 5"""
    cursor.execute(sql_delete_query)
    connection.commit()
    count = cursor.rowcount
    print(count, "Record deleted successfully ")

except (Exception, psycopg2.Error) as error:
    print("Error in Delete operation", error)

1 Record deleted successfully

Here we empty the whole table

In [70]:
try:
    cursor = connection.cursor()

    # Update single record now
    sql_delete_query = """Truncate table Cinema"""
    cursor.execute(sql_delete_query)
    connection.commit()
    print("All records deleted successfully ")

except (Exception, psycopg2.Error) as error:
    print("Failed to Delete all records from database table:", error)

All records deleted successfully